* {
    box-sizing: border-box;
}
.wrapper {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}
body {
    margin: 0;
    background-color: rgb(245, 195, 195);
}
.link {
    font-size: 30px;
    color: red;
    text-decoration: none;
    text-transform: uppercase;
}
.text {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 500;
}
.viewport {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(45, 34, 107, 0.7);
}
.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    padding: 30px;
    flex-direction: column;
    align-items: flex-start;
    background-color: #F5F5FA;
    border-radius: 12px;
    border: 1px black solid;
}
.form input {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #FFF;
    background: #FFF;
}
.input {
    height: 56px;
}
.input2 {
    height: 130px;
}
.textarea {
    width: 100%;
    height: 130px;
    vertical-align: top;
}
input::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #B3B3BA;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}
.title {
    font-size: 38px;
    font-weight: 700;
    color: #F0145A;
    margin-top: 0;
}
.subtitle {
    color: #B3B3BA;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.button-submit {
    width: 100%;
    padding: 18px 30px;
    border-radius: 12px;
    background:  #24A3FF;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    border: 0;
}
.close {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 30px;
    left: 590px;
    right: 0;
    bottom: 0;
    border: 0;
    background-color: transparent;
}
