* {
    box-sizing: border-box;
}
.wrapper {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}
body {
    margin: 0 0 0 0;
    font-family: 'Montserrat';
    background-color: chartreuse;
}
.header {
    background-color: rgb(0, 0, 0);
}
.navigation {
    display: flex;
    justify-content: flex-start;
    padding: 5px 10px;
}
a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
}
.element {
    list-style: none;
    position: relative;
    float: left;
    padding: 5px 10px;
}
.link-element:hover, .drop-link-element:hover {
    color: chartreuse;
}
.hiden-links1 {
    padding-top: 20px;
    position: absolute;
    left: -30px;
    width: 160px;
    background-color: rgb(0, 0, 0);
    list-style: none;
    display: none;
}
.hiden-link1 {
    width: 100%;
    margin-top: 10px;
    padding: 5px 0 5px 0;
}
.hiden-link1:last-child {
    margin-bottom: 10px;
}
.hiden-link-element1:hover {
    color: chartreuse;
}
nav ul li:hover > ul {
    display: initial;
}
.hiden-links2 {
    position: absolute;
    left: 155px;
    bottom: -40px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    list-style: none;
    display: none;
}
.hiden-link2 {
    margin-top: 10px;
}
.hiden-link2 {
    padding-bottom: 10px;
}
.hiden-link-element2:hover {
    color: chartreuse;
}
.page2 {
    color: black;
    font-size: 20px;
    margin-top: 20px;
}